.wishlistIconContainer :global(.vtex-button) :global(.vtex-button__label){
    padding: 0 !important;
}

.wishlistIconContainer :global(.vtex-button):hover{
    background: none;
    background-color: none;
}

@media (min-width: 1080px) and (max-width: 1366px)    {
  
    .wishlistIconContainer :global(.vtex-button) :global(.vtex-button__label){
        padding:  0 0px 0px 20px!important;
    }
     
    
  }

@media screen and (min-width: 1366px)    {
    .wishlistIconContainer :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-wishlistIcon) {
        width: 32px;
        height: 32px;
      }
    .wishlistIconContainer :global(.vtex-button) :global(.vtex-button__label){
        padding:  0 0px 0px 30px!important;
    }
     
    
  }

  